<div class="questions_index_1_background">
  <div class="questions_index_1">
    <div class="page-header">
      <h1>問題一覧</h1>
    </div>
    <p class="col-sm-offset-3 col-sm-6">学科試験分野別に問題を載せています。ボタンを押すと、選択した分野の
       問題を解くことができます。
    </p>
  </div>
</div>
<div class="questions_index_2_background">
  <div class="questions_index_2">
    <div class="page-header">
      <h2>第一段階 問題分野<br><small>仮免許出題範囲</small></h2>
    </div>
    <p class="col-sm-offset-3 col-sm-6">仮免許試験項目一覧です。
       第一段階は信号や標識などの基本的な交通ルールや実際に車道で運転するために必要な知識を学びます。
     </p>
    <% @temporary.each do |temporary| %>
      <span class="temporary_btn col-xs-12 col-sm-6"><%= link_to temporary.field_name, devide_question_path(temporary.id) %></span>
    <% end %>
  </div>
</div>
<div class="questions_index_2_5_background">
  <div class="questions_index_2_5">
    <h3>仮免許 演習問題</h3>
    <% @temporary_test.each do |temporary| %>
      <span class="temporary_test_btn col-xs-12 col-sm-6"><%= link_to temporary.field_name, devide_question_path(temporary.id) %></span>
    <% end %>
  </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- menkyo_app_adsense2 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6929540284827971"
       data-ad-slot="9593197762"
       data-ad-format="link"
       data-full-width-responsive="true"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<div class="questions_index_3_background">
  <div class="questions_index_3">
    <div class="page-header">
      <h2>第二段階 問題分野<br><small>本試験出題範囲</small></h2>
    </div>
    <p class="col-sm-offset-3 col-sm-6">本試験での出題分野一覧です。
       本試験は第二段階と第一段階の出題分野を合わせた中から出題されます。どちらも必ず学習してください。
    </p>
    <% @main.each do |main| %>
      <span class="main_btn col-xs-12 col-sm-6"><%= link_to main.field_name, devide_question_path(main.id) %></span>
    <% end %>
  </div>
<div>
<div class="questions_index_3_5_background">
  <div class="questions_index_3_5">
    <h3>本試験 効果測定</h3>
    <% @main_test.each do |main| %>
      <span class="main_test_btn col-xs-12 col-sm-6"><%= link_to main.field_name, devide_question_path(main.id) %></span>
    <% end %>
  </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- menkyo_app_adsense2 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-6929540284827971"
       data-ad-slot="9593197762"
       data-ad-format="link"
       data-full-width-responsive="true"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
