<div class="popd1">
  <div class="page-header"><h1>プライバシー<br>ポリシー<br><small>個人情報管理について</small></h1></div>
  <p class="popd_top">本サイトは、個人で作成したwebアプリケーションです。
    個人情報保護方針を以下の内容で定め、ご利用になる皆様が
    安全に本サイトを閲覧できるよう、その保護を推進いたします。</p>
</div>
<div class="popd2">
  <div class="page-header"><h2>個人情報の管理</h2></div>
  <p>ご利用になる皆様の個人情報を正確かつ最新の状態に保ち、
    個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止に努め、
    個人情報の厳重な管理を行ないます。</p>

  <div class="page-header"><h2>個人情報の利用目的</h2></div>
  <p>本サイトでは、お客様からのお問い合わせ時に、
    お名前、e-mailアドレス等の個人情報をご登録いただく場合がございます。
    これらの個人情報は、ご質問に対する回答や、必要な情報を電子メールなどで
    ご連絡する場合に利用をさせていただく場合がございますが、
    ご提供いただく際の目的以外では利用いたしません。</p>

  <div class="page-header"><h2>個人情報の第三者への開示・提供の禁止</h2></div>
  <p>本サイトでは、お客様よりお預かりした個人情報を適切に管理し、
    次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
  <br>
  <p>・お客様本人の同意がある場合</p>
  <p>・お客様が希望されるサービスを行なうために、本サイトが業務を委託する業者に対して開示する必要がある場合<br>
  <p>・法令に基づき、個人情報の開示が必要である場合</p>

  <div class="page-header"><h2>個人情報の安全対策</h2></div>
  <p>本サイトは、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じます。
    また、必要に応じて適宜その強化、改善に努めます。</p>

  <div class="page-header"><h2>広告配信</h2></div>
  <p>当サイトでは、GoogleAdsense等の第三者配信事業者が提供する広告を設置しており、
    また、その広告配信の一部にはCookieを使用しています。</p>
  <p>この際、GoogleやGoogleのパートナーは、サイト閲覧者の方の、
    当サイトまたはその他のサイトへの過去のアクセス情報に基づき、
    <a href="https://support.google.com/searchads/answer/2839090?hl=ja&ref_topic=2473095">DoubleClick Cookie</a>
    を使用することによって、適切な広告を配信しています。</p>
  <p>お客様は<a href="https://adssettings.google.com/u/0/authenticated?hl=ja">Googleアカウントの広告設定ページ</a>
    で、インタレストベースでの広告掲載に使用されるDoubleClick Cookieを無効にできます。
    また、「aboutads.info」のページにアクセスして頂き、インタレストベースでの広告掲載に使用される
    第三者配信事業者のCookieを無効にできます。</p>
  <p>その他、Googleの広告配信におけるCookieの取り扱いの詳細につきましては、
    <a href="https://policies.google.com/technologies/ads?hl=ja">Googleのポリシーと規約ページ</a>
    をご覧ください。</p>

  <div class="page-header"><h2>アクセス分析について</h2></div>
  <p>当サイトでは、Googleが提供するアクセス解析ツール「Googleアナリティクス」を使用しています。
    このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用していますが、
    そのトラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
  <p>この機能はCookieを無効にすることで収集を拒否することが出来ますので、
    お使いのブラウザの設定をご確認ください。
    この規約に関しての詳細は<a href="https://www.google.com/analytics/terms/jp.html">Googleアナリティクスサービス利用規約のページ</a>
    をご覧ください。</p>

  <div class="page-header"><h2>ご本人の照会</h2></div>
  <p>お客様ご本人が個人情報の照会・修正・削除などをご希望される場合には、
    ご本人であることを確認させていただいた上で、対応させていただきます。</p>

  <div class="page-header"><h2>法令、規範の遵守と見直し</h2></div>
  <p>本サイトは、保有する個人情報に関して適用される日本の法令、
    その他規範を遵守するとともに、ここに記載する本ポリシーの内容を適宜見直し、その改善に努めます。<p>

  <div class="page-header"><h2>免責事項</h2></div>
  <p>本サイトのコンテンツにおいて、可能な限り正確な情報を発信するよう
    努めてまいりますが、誤った情報が含まれていたり、古い情報が含まれている場合もございます。</p>
  <p>本サイトに掲載された内容によって生じた一切の責任を負いかねますので、ご了承ください。</p>

  <div class="page-header"><h2>お問い合せ</h2></div>
  <p>当サイトの個人情報の取扱いに関するお問い合せは、以下の「お問い合わせフォーム」にてご連絡ください。</p>
  <br>
  <p class="bottom_nav col-xs-12"><%= link_to "お問い合わせ", new_contact_path %></p>
</div>
