<div class="contact1_background">
  <div class="page-header">
    <h1>お問い合わせ</h1>
  </div>
  <p>お問い合わせはこちらからお願いします。</p>
</div>
<div class="contact2_background">
  <div class="contact2">
    <%= render 'form', contact: @contact %>
  </div>
</div>
<%= link_to '戻る', root_path %>
