<h1>お問い合わせ完了のお知らせ</h1>

<h4><%= @contact.name %>様</h4>
<p>いつもご利用いただき、ありがとうございます。
   以下の内容でお問い合わせを承りました。後程担当者よりご連絡差し上げますのでお待ち下さい。
</p>


<p>以下の内容が送信されました。</p>
<p>----------------------------------------------------------------</p>
<p>内容: <%= @contact.content %></p>
<p>----------------------------------------------------------------</p>

<p>サイト運営　supunic</p>
