<div class="tos1">
  <div class="page-header">
    <h1>利用規約<br><small>本サービスを利用するにあったて</small></h1>
  </div>
</div>
<div class="tos2_background">
  <div class="tos2">
    <p>管理者は，ユーザーに通知することなく，本サービスの内容を変更しまたは本サービスの提供を中止
       することができるものとし，これによってユーザーに生じた損害について一切の責任を負いません。<br>
       <br>
       管理者は，以下の場合には，事前の通知なく，投稿データを削除し，ユーザーに対して本サービスの
       全部もしくは一部の利用を制限しまたはユーザーとしての登録を抹消することができるものとします。
    </p>
    <br>
    <p>運営 supunic</p>
  </div>
</div>
