.title_background {
  margin: 0 10px 20px 10px;
}


.registrations_background {
  background-color: #202f55;
  height: 450px;
}

.registrations {
  margin: 20px 10px;
  padding: 30px 0;
}

.login_background {
  background-color: #202f55;
  height: 400px;
}

.login {
  margin: 20px 10px;
  padding: 30px 0;
}

.name {
  color: #fff;
  margin-bottom: 20px;
}

.email {
  color: #fff;
  margin-bottom: 20px;
}

.password {
  color: #fff;
  margin-bottom: 20px;
}

.password_confirmation {
  color: #fff;
  margin-bottom: 20px;
}
.in_field {
  color: #202f55;
}

.remember_me {
  color: #fff;
  margin-bottom: 20px;
}


.login_sign_up_btn{
  height: 60px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.login_sign_up_btn a {
  color: #202f55;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.login_sign_up_btn:active {
  opacity: 0.7;
}

.form_login_btn {
  height: 60px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
}
