.title_background {
  margin: 0 10px 20px 10px;
  height: 290px;
}
.login_title_background {
  margin: 0 10px 20px 10px;
  height: 150px;
}

@media screen and (min-width:768px){
  .title_background {
    margin: 0 150px;
  }
}

@media screen and (min-width:768px){
  .login_title_background {
    margin: 0 150px;
  }
}

.registrations_background {
  background-color: #202f55;
  height: 630px;
}

.registrations {
  margin: 20px 36px;
  padding: 30px 0;
  text-align: center;
}

@media screen and (min-width:768px){
  .registrations {
    margin: 0 150px;
  }
}

.pass_new_background {
  background-color: #202f55;
  height: 500px;
}

.pass_new {
  margin: 20px 36px;
  padding: 30px 0;
  text-align: center;
}

@media screen and (min-width:768px){
  .pass_new {
    margin: 0 150px;
  }
}

.login_background {
  background-color: #202f55;
  height: 500px;
  text-align: center;
  padding: 0 26px;
}

.login {
  margin: 20px 10px;
  padding: 30px 0;
}

@media screen and (min-width:768px){
  .login {
    margin: 0 150px;
  }
}

.name {
  color: #fff;
  margin-bottom: 20px;
}

.email {
  color: #fff;
  margin-bottom: 20px;
}

.password {
  color: #fff;
  margin-bottom: 20px;
}

.password_confirmation {
  color: #fff;
  margin-bottom: 20px;
}
.in_field {
  color: #202f55;
}

.field_with_errors {
  color: #202f55;
}

.remember_me {
  color: #fff;
  margin-bottom: 20px;
}


.login_sign_up_btn{
  height: 60px;
  background-color: #fff;
  border-radius: 8px;
  margin: 5px 0 25px 0;
  text-align: center;
}

.login_sign_up_btn a {
  color: #202f55;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.login_sign_up_btn:active {
  opacity: 0.7;
}

.form_login_btn {
  height: 60px;
  background-color: #fff;
  border-radius: 8px;
  margin: 20px 0 40px 0;
  text-align: center;
}

.new_account {
  margin-bottom: 25px;
}

.new_account a {
  color: #fff;
}

.new_account a:active {
  color: orange;
}
.forget_pass {

}

.forget_pass a {
  color: #fff;
}

.forget_pass a:active {
  color: orange;
}

.sexradio {
  width: 60px;
}

.sexradio_span {
  display: inline-block;
  color: #202f55;
  background-color: #fff;
  padding: 1px 10px;
  margin: 0 5px;
  border-radius: 4px;
}

label {
  color: #fff;
}
