// タグ

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

footer {
  width: 100%;
  background-color:#777;
  padding: 20px 0 10px 0;
  color: #fff;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

// ホーム１関連

.home1 {
  height: 260px;
  margin: 0 10px;
  padding: 0 0 10px 0;
}

.question_btn_top{
  height: 60px;
  background-color: rgb(222, 63, 63);
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.question_btn_top a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.question_btn_top:active {
  opacity: 0.7;
}


// ホーム２関連

.home2 {
  height: 330px;
  margin: 0 10px 50px 10px;
}


.login_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.login_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.login_btn:active {
  opacity: 0.5;
}

.question_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.question_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.question_btn:active {
  opacity: 0.5;
}

.usage_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.usage_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.usage_btn:active {
  opacity: 0.5;
}

.mypage_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.mypage_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.mypage_btn:active {
  opacity: 0.7;
}



// ホーム３関連

.home3_background {
  background-color: #202f55;
}

.home3 {
  height: 350px;
  margin: 0 10px;
  padding: 20px 0;
  color: #fff;
}

.sec1 {
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  display: block;
  padding: 10px;
  color: #202f55;
  text-decoration: none;
  text-align: center;
}

.sec1:active {
  opacity: 0.7;
}


.sec2 {
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  display: block;
  padding: 10px;
  color: #202f55;
  text-decoration: none;
  text-align: center;
}

.sec2:active {
  opacity: 0.7;
}

.sec3 {
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  display: block;
  padding: 10px;
  color: #202f55;
  text-decoration: none;
  text-align: center;
}

.sec3:active {
  opacity: 0.7;
}


// ホーム４関連

.home4_background {
  background-color: #eee;
}

.usage_explanation {
  font-weight: bold;
  font-size: 16px;
}

.home4 {
  height: 1320px;
  margin: 0 10px;
  padding: 20px 0;
}

.home4_question_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.home4_question_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.home4_question_btn:active {
  opacity: 0.7;
}


.image_sec1-1 {
  background-size: cover;
  background-image: image-url("sec1-1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 360px;
  border-radius: 8px;
  margin: 10px 0 30px 0;
  max-width: 360px;
  border: ridge 8px #ddd;
}

.image_sec1-2 {
  background-size: cover;
  background-image: image-url("sec1-2.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 240px;
  background-color: #ccc;
  border-radius: 8px;
  border: ridge 8px #ddd;
  margin: 10px 0 30px 0;
  max-width: 360px;
}

.image_sec1-3 {
  background-size: cover;
  background-image: image-url("sec1-3.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 290px;
  background-color: #ccc;
  border-radius: 8px;
  border: ridge 8px #ddd;
  margin: 10px 0 30px 0;
  max-width: 360px;
}


// ホーム５関連

.home5_background {
  background-color: #fff;
}

.home5 {
  height: 1880px;
  margin: 0 10px;
  padding: 20px 0;
}

.home5_question_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.home5_question_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.home5_question_btn:active {
  opacity: 0.7;
}

.image_sec2-1 {
  background-size: cover;
  background-image: image-url("sec2-1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  border-radius: 8px;
  border: ridge 8px #ddd;
  margin: 10px 0 30px 0;
  max-width: 360px;
}

.image_sec2-2 {
  background-size: cover;
  background-image: image-url("sec2-2.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  background-color: #eee;
  border-radius: 8px;
  border: ridge 8px #ddd;
  margin: 10px 0 30px 0;
  max-width: 360px;
}

.image_sec2-3 {
  background-size: cover;
  background-image: image-url("sec2-3.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  background-color: #ccc;
  border-radius: 8px;
  border: ridge 8px #ddd;
  margin: 10px 0 30px 0;
  max-width: 360px;
}



// ホーム６関連

.home6_background {
  background-color: #202f55;
}

.home6 {
  height: 1810px;
  margin: 0 10px;
  padding: 20px 0;
  color: #fff;
}

.home6_question_btn{
  height: 60px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.home6_question_btn a {
  color: #202f55;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.home6_question_btn:active {
  opacity: 0.7;
}


.image_sec3-1 {
  background-size: cover;
  background-image: image-url("sec3-1.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 8px;
  border: ridge 8px #eee;
  margin: 10px 0 30px 0;
  max-width: 360px;
}

.image_sec3-2 {
  background-size: cover;
  background-image: image-url("sec3-2.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 410px;
  background-color: #eee;
  border-radius: 8px;
  border: ridge 8px #fff;
  margin: 10px 0 30px 0;
  max-width: 360px;
}

.image_sec3-3 {
  background-size: cover;
  background-image: image-url("sec3-3.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 460px;
  background-color: #ccc;
  border-radius: 8px;
  border: ridge 8px #eee;
  margin: 10px 0 30px 0;
  max-width: 360px;
}

// ホーム７関連


.home7 {
  background-color: #eee;
  height: 247px;
}



.bottom_nav {
  height: 50px;
  // padding-top: 15px;
  border: solid 1px #333;
  text-align: center;
}

.bottom_nav a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 15px 0;
}

.usage {
  background-color: #ccc;
  height: 50px;
  margin-top: 10px;
  border-radius: 8px;
}


// .image {
//   height: 100px;
//   background-color: #ccc;
//   border-radius: 8px;
// }
