// タグ

html {
  position: relative;
  min-height: 100%;
  margin: 0 auto;
  max-width: 980px;
}

body {
  font-family: "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
a.sec1:hover {
  color: #202f55;
}
a.sec2:hover {
  color: #202f55;
}
a.sec3:hover {
  color: #202f55;
}

footer {
  width: 100%;
  background-color:#777;
  padding: 20px 0 10px 0;
  color: #fff;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
}

// ホーム１関連
.login_sign {
  margin: 0 10px 10px 0;
  padding: 0px;
  text-align: right;
}
a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.alert.alert-danger.alert-dismissible {
  margin: 0 10px;
}

.alert.alert-info.alert-dismissible {
  margin: 0 10px;
}

.home1 {
  height: 200px;
  margin: 0 10px;
  padding: 0 0 10px 0;
}

.question_btn_top{
  height: 60px;
  background-color: rgb(222, 63, 63);
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.question_btn_top a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.question_btn_top:active {
  opacity: 0.7;
}


// ホーム２関連

.home2 {
  height: 330px;
  margin: 0 10px 50px 10px;
}


.login_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.login_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.login_btn:active {
  opacity: 0.5;
}

.question_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.question_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.question_btn:active {
  opacity: 0.5;
}

.usage_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.usage_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.usage_btn:active {
  opacity: 0.5;
}

.mypage_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.mypage_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.mypage_btn:active {
  opacity: 0.7;
}



// ホーム３関連

.home3_background {
  background-color: #202f55;
}

.home3 {
  height: 380px;
  margin: 0 10px;
  padding: 20px 0;
  color: #fff;
}

.sec1 {
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  display: block;
  padding: 10px;
  color: #202f55;
  text-decoration: none;
  text-align: center;
}

.sec1:active {
  opacity: 0.7;
}


.sec2 {
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  display: block;
  padding: 10px;
  color: #202f55;
  text-decoration: none;
  text-align: center;
}

.sec2:active {
  opacity: 0.7;
}

.sec3 {
  height: 40px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 20px;
  display: block;
  padding: 10px;
  color: #202f55;
  text-decoration: none;
  text-align: center;
}

.sec3:active {
  opacity: 0.7;
}


// ホーム４関連

.home4_background {
  background-color: #fff;
}

.usage_explanation {
  font-weight: bold;
  font-size: 16px;
}

.home4 {
  height: 710px;
  margin: 0 10px;
  padding: 20px 0;
}

.home_image_sec1 {
  text-align: center;
  margin: 20px 0;
}
.home_image_sec1 img{
  width: 300px;
  border-radius: 8px;
  box-shadow:5px 5px 10px;
  border:1px solid #000;
  margin-bottom: 5px;
}

.home4_question_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.home4_question_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.home4_question_btn:active {
  opacity: 0.7;
}

// ホーム５関連

.home5_background {
  background-color: #ddd;
}

.home5 {
  height: 690px;
  margin: 0 10px;
  padding: 20px 0;
}

.home_image_sec2 {
  text-align: center;
  margin: 20px 0;
}
.home_image_sec2 img{
  width: 300px;
  border-radius: 8px;
  box-shadow:5px 5px 10px;
  border:1px solid #000;
  margin-bottom: 5px;
}

.home5_question_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.home5_question_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.home5_question_btn:active {
  opacity: 0.7;
}


// ホーム６関連

.home6_background {
  background-color: #fff;
}

.home6 {
  height: 840px;
  margin: 0 10px;
  padding: 20px 0;
  color: #202f55;
}

.home_image_sec3 {
  text-align: center;
  margin: 20px 0;
}
.home_image_sec3 img{
  width: 300px;
  border-radius: 8px;
  box-shadow:5px 5px 10px;
  border:1px solid #000;
  margin-bottom: 5px;
}

.home6_question_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.home6_question_btn a {
  color: #fff;
  font-size: 16px;
  display: block;
  padding: 20px;
}

.home6_question_btn:active {
  opacity: 0.7;
}

// ホーム７関連


.home7 {
  background-color: #eee;
  height: 147px;
}



.bottom_nav {
  height: 50px;
  // padding-top: 15px;
  border: solid 1px #333;
  text-align: center;
}

.bottom_nav a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 15px 0;
}

.usage {
  background-color: #ccc;
  height: 50px;
  margin-top: 10px;
  border-radius: 8px;
}
