.tos1 {
  margin: 0 10px;
}
// .tos2_background {
//   background-color: #202f55;
//   color: #fff;
// }
.tos2 {
  margin: 0 10px 120px 10px;
  // padding: 30px 0;
}

.bottom_nav {
  border-radius: 8px;
  border: solid 1px #333;
  height: 38px;
}

.bottom_nav a {
  color: #333;
  display: block;
  padding: 8px;
}
