
.mypage_top_background {
  background-color: #fff;
}

.mypage_top {
  height: 180px;
  margin: 0 10px;
}

.progress {
  margin: 30px 50px;
}

.mypage1_background {
  background-color: #202f55;
}

.mypage1 {
  height: 200px;
  margin: 0 10px;
  padding-top: 20px;
  color: #fff;
  text-align: center;
}

.mypage2_background {
  background-color: #eee;
}

.mypage2 {
  height: 200px;
  margin: 0 10px;
  padding-top: 20px;
  text-align: center;
}

.mypage3_background {
  background-color: #fff;
}

.mypage3 {
  height: 380px;
  padding-top: 20px;
  text-align: center;
  margin: 0 10px;
}

.curriculum_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.curriculum_btn a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.curriculum_btn a:active{
  opacity: 0.6;
}
