
.mypage_top_background {
  background-color: #fff;
}

.mypage_top {
  height: 260px;
  margin: 0 10px;
}

.progress {
  margin: 30px 50px;
}

.progress-bar {
  color: #202f55;
  font-weight: bold;
}

.mypage1_background {
  background-color: #202f55;
}

.mypage1 {
  height: 200px;
  margin: 0 10px;
  padding-top: 20px;
  color: #fff;
  text-align: center;
}

.mypage2_background {
  background-color: #eee;
}

.mypage2 {
  height: 200px;
  margin: 0 10px;
  padding-top: 20px;
  text-align: center;
}

.mypage3_background {
  background-color: #fff;
}

.mypage3 {
  height: 300px;
  padding-top: 20px;
  text-align: center;
  margin: 0 10px;
}

.curriculum_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.curriculum_btn a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.curriculum_btn a:active{
  opacity: 0.6;
}

.mypage4_background {
  background-color: #202f55;
}

.mypage4 {
  text-align: center;
  margin: 0 10px;
  padding: 30px 0;
  height: 300px;
}

.logout_btn{
  height: 60px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.logout_btn a {
  color: #202f55;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.logout_btn a:active{
  opacity: 0.6;
}

.back_btn{
  height: 60px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
}

.back_btn a {
  color: #202f55;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.back_btn a:active{
  opacity: 0.6;
}

.delete_btn{
  height: 40px;
  background-color: #ccc;
  border-radius: 8px;
  margin-top: 60px;
  text-align: center;
}

.delete_btn a {
  color: #202f55;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.delete_btn a:active{
  opacity: 0.6;
}

.admin_btn{
  height: 60px;
  background-color: #202f55;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
}

.admin_btn a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 20px;
}

.admin_btn a:active{
  opacity: 0.6;
}
